/* media query */
@media screen and (max-width: 991px) {
	.col-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.col-4 {
		flex: 0 0 50%;
		max-width: 50%;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		margin-bottom: 30px;
	}

	.col-3 {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
	}

	.col-9 {
		flex: 0 0 100%;
		max-width: 100%;
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px
	}
}

@media screen and (max-width: 767px) {
	.col-4 {
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		margin-bottom: 30px;
	}

	.col-3 {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
	}

	.col-9 {
		flex: 0 0 100%;
		max-width: 100%;
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px
	}
}