.slick-title {
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 40px;
}

.slick-slider {
	margin-top: 22px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -1px;
	padding-top: 10px;
	padding-bottom: 10px;

	.row-slider {
		flex-wrap: nowrap;
		margin-right: -15px;
		margin-left: -15px;
		display: flex;
	}
}

.my-dots {
	position: absolute;
	bottom: -60px;
	left: 5px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.my-dots li {
	position: relative;
	display: inline-block;
	width: 5px;
	height: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	cursor: pointer;
}

.my-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 5px;
	height: 5px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
	outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
	opacity: 1;
}

.my-dots li button:before {
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Обводка маркеров */

	/* WebKit (Safari/Chrome) Only */
	-webkit-text-stroke: 1px red;
	/* If we weren't using text-shadow, we'd set a fallback color
		   and use this to set color instead
		  -webkit-text-fill-color: white; */
	text-shadow: 1px 1px 0 #f00,
		/* Simulated effect for Firefox and Opera
			 and nice enhancement for WebKit */
		-1px -1px 0 #f00, 1px -1px 0 #f00, -1px 1px 0 #f00, 1px 1px 0 #f00;
	/* / Обводка маркеров */

}

.my-dots li.slick-active button:before {
	opacity: .75;
	color: black;
}


.arrow-block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 45px;

	&__dots {
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #ffffff;
		margin-right: 8px;
		position: relative;
		z-index: 1000;
		margin-top: 110px;
	}

	.left-arrow {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background-color: #f1f1f1;
		color: $select-li;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(0, 0, 0, 0.125);
		cursor: pointer;
		margin-right: 70px;
	}

	.right-arrow {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background-color: #f1f1f1;
		color: $select-li;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(0, 0, 0, 0.125);
		cursor: pointer;
	}
}